.containerImg {
  background-image: url("../modM.svg");
  background-color: rgb(211, 211, 211);
  height: 28vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  /* border-top: rgba(255, 255, 255, 0.322) solid 30px; */
}

.ct {
  margin-left: 34vh;
  margin-right: 4vh;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: left;
  font-size: 4vh;
  margin-top: 2vh;
}

.description {
  text-align: left;
  font-size: 2.6vh;
  margin-top: -1vh;
}

.borders {
  height: 8px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(238, 238, 238, 0.377),
    rgba(32, 32, 32, 0.226)
  );
}
.cb {
  flex-direction: row;
  margin-left: 34vh;
  opacity: 0.8;
}

.cb button {
  margin: 1vh 0vh 3vh 0vh;
}
