.ContainerImg {
  background-image: url("../modM.svg");
  height: 20vh;
  z-index: 5;
  aspect-ratio: 3;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  /* border: yellow dashed 10px; */
  /* margin-top: -1px; */
}

.Img {
  border: none;
}

.ct {
  margin-left: 24vh;
}

.title {
  text-align: left;
  font-size: 24px;
  margin-top: 2vh;
}

.description {
  text-align: left;
  font-size: 14px;
  margin-top: -1vh;
}

.Border {
  height: 0px;
  width: 30 px;
  background-color: cornsilk;
  z-index: -20;
}
