.containerImgB {
  background-image: url("../modM_blueDark.svg");
  background-color: #0d2e3a;
  height: 24vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-end;
  /* border-top: rgba(255, 255, 255, 0.322) solid 30px; */
}

.ct {
  padding-top: 1vh;
  margin-left: 30vh;
  margin-right: 4vh;
  /* margin-top: 1vh; */
  flex-direction: column;
}

.borders {
  height: 6px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(238, 238, 238, 0.377),
    rgba(32, 32, 32, 0.226)
  );
}
.cb {
  display: flexbox;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  margin-left: 30vh;
  opacity: 0.8;
  margin-bottom: 1vh;
}

.cb button {
  margin: 1vh 0vh 3vh 0vh;
}
